{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Services</title>
{%endblock%}

{% block content %}
<div id="places" class="bg-light pb-5">
    <h1 class="text-center mt-5 mb-2 display-4 pt-4" style="font-size:45px">Popular Services</h1>
    <p class="text-center text-secondary">Best in class services to help you with your rank up<br>
        
    </p>
    <div class="container">
        <div class="row justify-content-center justify-content-md-around ">
            
            {% for post in posts %}   
            
                <div class="card mt-4">
                    <!-- {% if post.image %} -->
                        <img src="{{ post.image.url }}" class="card-img-top" alt="..."> 
                    <!-- {% endif %}               -->
                    <div class="card-body">
                        <h5 class="card-title mb-1">{{ post.title }}</h5>
                        <p class="card-text small text-secondary">{{ post.text|linebreaksbr }} </p>
                        <div class="row justify-content-between">
                            <div>
                                <img src="{% static 'img/review.png' %}" alt="review" style="width: 90px;">
                                <span class="small text-secondary">Published: {{ post.published_date }}</span>
                            </div>
                        </div>
                    </div> 
                </div>
            {% endfor %} 

        </div>
    </div>
    <div class="row justify-content-center">
        <!-- {% if user.is_authenticated %}
        <a href="{% url 'add_service' %}">
            <br>
            <button type="button" class="btn btn-primary btn-lg">Add New Service</button>
        </a>
        {% endif %} -->
        <a href="{% url 'add_service' %}">
            <br>
            <button type="button" class="btn btn-primary btn-lg">Add New Service</button>
        </a>
    </div>
</div>
{% endblock %}